@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    deactivating the preflight plugin creates an ugly border
    on all sides of the screen, so these css values removes them
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}